.sidebar {
	width: 60px; /* Set the width of the sidebar */
	height: 100vh; /* Set the height to fill the entire viewport */
	// position: fixed; /* Fixed position to keep it in view */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
    justify-content: center;
	padding: 10px; /* Adjust the padding as needed */
	background-color: #2c3e50; /* Set the background color of the sidebar */
	border-right: 2px solid #34495e; /* Add a border on the right side */
	border-bottom: 2px solid #34495e; /* Add a border on the bottom */
	border-radius: 10px; /* Add rounded corners */
}

.sidebar-item {
	background-color: #d4af37; /* Set the background color of each item */
	margin: 2px; /* Adjust the margin as needed */
	cursor: pointer; /* Add a pointer cursor on hover */
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent; /* Add a border initially */
	border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
	width: 40px; /* Set the width of the item */
	height: 40px; /* Set the height of the item */
	transition: all 0.3s; /* Add a smooth transition effect */
}

.sidebar-item:hover {
	border: 2px solid #000; /* Change the border color on hover */
	width: 47px; /* Increase the width on hover */
	height: 47px; /* Increase the height on hover */
}

/* Add styles for the SVG icons here */
.icon {
	/* Add your SVG icon styles here */
	img {
		height: 20px;
		fill: #ffff;
	}
}
